.floating-add-button {
  margin-bottom: 1em;
}

.estufa-list {
  padding-bottom: 6.5em;
}
.logoWeb{
  height: 100px;
  width: 200px;
}
.logo{
  height: 100px;
  width: 200px;
  margin-right: 0px;
}
/* .icon{

} */