/* css dos cards de notificação */
/* conteudo de dentro do card */
.container-card {
    display: flex;
    background-color: white;
    padding: 15px;
    color: black;
    flex-direction: column;
    align-items: center;
}

/* header do card */
.header-div {
    background-color: #A80D0D;
    color: white;
    padding: 15px;
    display: flex;
    min-width: 100%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.aviso-div {
    padding: 20px;
}

