.card-container {
  padding: 2.0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #298350;
  color: white;
}

.card-wrapper {
  margin: 2rem;
}

.card-name {
  font-size: x-large;
}

.metrics-title {
  font-size: x-large;
}

.metrics-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
}
